<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to "Basic Information", edit_user_path(@user)  %>
  </li>
  <li role="presentation">
    <%= link_to "Links", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Projects", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Education", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Experiences", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Skills", nil  %>
  </li>
</ul>
