<ul class="nav nav-pills" id="user-nav">
  <li role="presentation">
    <%= link_to "Basic Information", edit_user_path(@user), { id: "edit-user-basic-btn" }  %>
  </li>
  <li role="presentation">
    <%= link_to "Links", "#project-form"  %>
  </li>
  <li role="presentation">
    <%= link_to "Projects", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Education", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Experiences", nil  %>
  </li>
  <li role="presentation">
    <%= link_to "Skills", nil  %>
  </li>
</ul>
