<h1>Profile Page</h1>
<conatiner>
  <div>
    <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, placeholder: "Eli.." %>
    <%= f.input :last_name, placeholder: "Captain..." %>
    <%= f.input :email %>
    <hr>
    <%= f.submit %>
    <% end %>
  </div>
</container>

<conatiner>
  <div>
    <%= simple_form_for @skill do |f| %>
    <%= f.input :first_name, placeholder: "Eli.." %>
    <%= f.input :last_name, placeholder: "Captain..." %>
    <%= f.input :email %>
    <hr>
    <%= f.submit %>
    <% end %>
  </div>
</container>

<conatiner>
  <div>
    <%= simple_form_for @project do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :url %>
    <hr>
    <%= f.submit %>
    <% end %>
  </div>
</container>

<conatiner>
  <div>
    <%= simple_form_for @education do |f| %>
    <%= f.input :first_name, placeholder: "Eli.." %>
    <%= f.input :last_name, placeholder: "Captain..." %>
    <%= f.input :email %>
    <hr>
    <%= f.submit %>
    <% end %>
  </div>
</container>

<conatiner>
  <div>
    <%= simple_form_for @experience do |f| %>
    <%= f.input :first_name, placeholder: "Eli.." %>
    <%= f.input :last_name, placeholder: "Captain..." %>
    <%= f.input :email %>
    <hr>
    <%= f.submit %>
    <% end %>
  </div>
</container>
