<h1><%= @title %></h1>

<div class="row">
<% @users.each do |user| %>
  <div class="col-lg-3">
    <div class=''>
      <% if user.image? %>
        <%= image_tag user.image_url  %>
      <% end %>
    </div>
    <div class=''>
      <%= user.full_name %>
    </div>
    <div class=''>
      <%= user.description_snippet %>
    </div>
    <div class=''>
       <%= link_to "View Profile", current_user, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<%= paginate @users %>
