<div class='text-center'>
  <h1><%= @title %></h1>
</div>

<div class="row text-center">
<% @users.each do |user| %>
  <div class="col-lg-4 col-md-6 col-sm-12" style='height: 404px'>
    <div>
      <%= image_tag user.image.url :medium  %>

    </div>
    <div>
      <%= user.full_name %>
    </div>
    <div>
      <%= user.description_snippet %>
    </div>
    <div class=''>
       <%= link_to "View Profile", user, class: "btn btn-primary btn-profile " %>
    </div>
  </div>
<% end %>
</div>

<div class='text-center'>
  <%= paginate @users %>
</div>
