<div class='text-center'>
  <h1><%= @title %></h1>
</div>

<div class="row text-center">
<% @users.each do |user| %>
  <div class="col-lg-3">
    <div class=''>
      <% if user.image? %>
        <%= image_tag user.image_url  %>
      <% end %>
    </div>
    <div class=''>
      <%= user.full_name %>
    </div>
    <div class=''>
      <%= user.description_snippet %>
    </div>
    <div class=''>
       <%= link_to "View Profile", user, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>

<div class='text-center'>
  <%= paginate @users %>
</div>
