<h1><%= @title %></h1>

<% @users.each do |user| %>
  <div>
    <div>
      <% if user.image? %>
        <%= image_tag user.image_url  %>
      <% end %>
    </div>
    <div>
      <%= user.full_name %>
    </div>
    <div>
      <%= user. %>
    </div>
    <div>

    </div>
  </div>
<% end %>


<%= paginate @users %>
