<h1>Create an Account</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name  %>
  <%= f.input :last_name %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.input :password_confirmation, hint: 'No special characters.' %>
  <%= f.button :submit %>
<% end %>
