<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <h1><%= @user.full_name %></h1>
    <div class="description">
       <%= @user.description %>
    </div>

      <% @user.linkings.each do |linking| %>
        <%= link_to fa_icon(linking.show_icon(linking.link.title)), linking.url %>
      <% end %>

      <%= link_to fa_icon("download"), user_path(@user) %>

      <span class="btn btn-default"><%= link_to "Contact", root_path%> </span>

    </div>
  </div>
</div>

<%# TAB PANEL %>
<div>
  <%= render "users/nav_show" %>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="skills-show">
      <% @skills.each do |skill| %>
        <%= render "/skills/skill", skill: skill %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="projects-show">
      <% @projects.each do |project| %>
        <%= render "/projects/project", project: project %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="education-show">
      <% @educations.each do |education| %>
        <%= render "/educations/listing_education", education: education %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="experience-show">
      <% @experiences.each do |experience| %>
        <%= render "/experiences/experience", experience: experience %>
      <% end %>
    </div>
  </div>

</div>
