<li id="<%= dom_id(skill) %>">
  <p><%= skill.title %>: <%= skill.level %></p>
  <p>
    <%= link_to "Edit", edit_user_skill_path(@user, skill), remote: true %>
    <%= link_to "Delete", [@user, skill],
                          method: :delete,
                          remote: true,
                          data: { confirm: "Are you sure?" } %>
  </p>
</li>
