<li id="<%= dom_id(project) %>">
  <section class="container">
    <div class="row user-project-display">
      <section class="col-md-offset-2 col-md-8">
      <%= image_tag(project.image.url(:thumb), class: "user-project-image") %>
      <h4><%= project.title %></h4>
      <p><%= project.description %></p>
      <span class="project-link">
        <%= link_to "#{project.title}", "#{project.url}", class: "user-project-url-show" %>
      </span>
      <span class="project-github">
        <%= link_to fa_icon("github"), project.github, class: "github-project-link fa-2x" %>
      </span>
      </section>
    </div>
  </section>
</li>
