<li id="<%= dom_id(project) %>">
  <h5><%= project.title %></h5>
  <p><%= project.description %></p>
  <p>
    <% if can? :manage, project %>
      <%= link_to "Edit",  edit_user_project_path(@user, project), remote: true %>
      <%= link_to "Delete", [@user, project],
                            method: :delete,
                            remote: true,
                            data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
</li>
