<section class="container">
  <section class="row">
    <section class="col-md-6 col-md-offset-2">
      <li id="<%= dom_id(experience) %>">
        <h4><strong><%= experience.title %></strong>  @ <%= link_to "#{experience.company}", "#{experience.url}", class: "user-show-experience-link" %></h4>
        <h4></h4>
        <% if experience.start_date && experience.end_date %>
          <p class="text-muted"><%= "#{experience.start_date.strftime('%B/%Y')} - #{experience.end_date.strftime('%B/%Y')}"  %></p>
        <% end %>
        <p><%= experience.description %></p>

      </li>
      <hr>
    </section>
  </section>
</section>
