<section class="container">
  <section class="row">
    <section class="col-md-6 col-md-offset-2">
      <li id="<%= dom_id(experience) %>">
        <h5><%= experience.title %></h5>
        <h4><%= experience.company %></h4>
        <p><%= experience.description %></p>
        <%= link_to "#{experience.title}", "#{experience.url}", class: "user-show-experience-link" %>
      </li>
    </section>
  </section>
</section>
