<section id="<%= dom_id(@experience) %>">

  <% if @experience.errors.any? %>
    <%= @experience.errors.full_messages.join(", ") %>
  <% end %>

<%= form_for [current_user, @experience], remote: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</section>
