<section id="<%= dom_id(@experience) %>">

  <% if @experience.errors.any? %>
    <%= @experience.errors.full_messages.join(", ") %>
  <% end %>

<%= form_for [current_user, @experience], remote: true do |f| %>
  <div class = "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :company %>
    <%= f.text_field :company, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :url %>
    <%= f.url_field :url, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
</section>
