<h1>Links</h1>

<% @linkings.each do |linking| %>
  <%= link_to linking.link.title, linking.url %>
  <%= link_to "Delete",
            users_links_path(linking),
            method: :delete,
            data: {confirm: "Are you sure you want to delete this link?"} %>

<% end %>

<%= @linking.errors.full_messages.join(", ") %>

<div class="container">
  <%= simple_form_for @linking do |f| %>
  <%=  f.collection_select(:link_id, Link.all, :id, :title)%>

  <%= f.text_field :url %>

  <%= f.submit %>
  <% end %>
</div>
