<section class="col-md-8 col-md-offset-2" id="education-show-listing">
  <div id="<%= dom_id(education) %>">
    <%# image_tag(education.image.url(:thumb), class: "user-education-image") %>
    <h4><strong><%= education.institution %></strong></h4>
    <h5><%= education.program %></h5>
    <p><%= education.description%></p>
    <p class = "text-muted"><%= education.start_date%></li>
    <p class = "text-muted"><%= education.end_date%></li>
    <%# link_to "" %>
  </div>
</section>
