<div id="<%= dom_id(education) %>">
  <li><%= education.institution %></li>
  <li><%= education.program %></li>
  <li><%= education.description%></li>
  <li><%= education.start_date%></li>
  <li><%= education.end_date%></li>
  <li><%= education.url%></li>
</div>
