<div id="<%= dom_id(education) %>">
  <div>
    <% if education.image?%>
      <%= image_tag education.image.url :thumb %>
    <% end %>
  </div>
  <h3><%= education.institution %></h3>
  <%= education.start_date%> <%= education.end_date%>
  <h4><%= education.program %></h4>
  <p><%= education.description%></p>
  <%= link_to "Visit School", education.url, class: 'btn btn-primary text-right ', style: "float: right" %>
</div>
