<div id="<%= dom_id(education) %>">
  <li><%= education.institution %></li>
  <li><%= education.program %></li>
  <li><%= education.description%></li>
  <li><%= education.start_date%></li>
  <li><%= education.end_date%></li>
  <li><%= education.url%></li>
  <% if can? :manage, education %>
    <%= link_to "Edit", edit_user_education_path(current_user,education), remote: true %>
    <%= link_to "Delete", user_education_path(current_user,education), method: :delete, remote: true, data: {confirm: "Are you Sure?"}%>
  <% end %>
</div>
