<footer>

  <%= link_to fa_icon("twitter"), "http://twitter.com/CodeCoreYVR" %>
  <%= link_to fa_icon("fa-facebook-square"), "http://www.facebook.com/pages/Codecore-Bootcamp/1407977206086598" %>
  <%= link_to fa_icon("linkedin"), "http://linkedin.com/company/codecore-bootcamp)"  %>
  <%= link_to fa_icon("pinterest"), "http://pinterest.com/codecoreyvr" %>
  <%= link_to fa_icon("instagram"), "https://instagram.com/codecoreyvr/"  %>
  <%= link_to fa_icon("google-plus"), "http://plus.google.com/116007489763415648305/about" %>
  <%= link_to fa_icon("github"), "http://github.com/orgs/CodeCoreYVR" %>
  <%= link_to fa_icon("youtube"), "http://www.youtube.com/user/CodeCoreYVR" %>

  <p>142 W Hastings St. // Vancouver, BC // Canada // (604) 559-CODE (2633)</p>

</footer>
