
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand" id="logo"><%= image_tag 'logo.png' %></a>
    </div>

    <div class="collapse navbar-collapse" id="myNav">
      <ul class="nav navbar-nav">
        <li><%= link_to "Available Students", users_path(who: "available") %></li>
        <li><%= link_to "All Students", users_path(who: "all") %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.full_name}", current_user %></li>
          <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_session_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
