<div class='nav navbar-right'>
  <%= link_to "Home", root_path %>

  <% if user_signed_in? %>
    Hello <%= current_user.full_name %>,
    <%= link_to "Sign Out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
</div>

<div class='nav navbar-default'>
  <div style='background-color: #CB0D0F'>
    <%= image_tag 'codecore-logo.png' %>
  </div>
  <%= link_to "Available Students", users_path(who: "available") %>
  <%= link_to "All Students", users_path(who: "all") %>
</div>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% elsif alert %>
  <div class="alert alert-danger">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
