<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
  <div class="container">
    <div class="footer-above">
        <div clas="container">
            <div class="row">
                <div class="footer-col col-md-4 col-sm-12">
                  <h3>Location</h3>
                  <p>142 W Hastings St. // Vancouver, BC // Canada // (604) 559-CODE (2633)</p>
                </div>
                <div class="footer-col col-md-4 col-sm-12">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                      <%= link_to fa_icon("fa fa-twitter-square fa-3x social"), "http://twitter.com/CodeCoreYVR", id:"social-tw", class:"fa fa-twitter-square fa-3x social" %>
                      <%= link_to fa_icon("fa fa-facebook-square fa-3x social"), "http://www.facebook.com/pages/Codecore-Bootcamp/1407977206086598", id:"social-fb", class:"fa fa-facebook-square fa-3x social"%>
                      <%= link_to fa_icon("fa fa-linkedin-square fa-3x social"), "http://linkedin.com/company/codecore-bootcamp)", id:"social-li", class:"fa fa-linkedin-square fa-3x social" %>
                      <%= link_to fa_icon("fa fa-pinterest-square fa-3x social"), "http://pinterest.com/codecoreyvr", id:"social-pi", class:"fa fa-pinterest-square fa-3x social" %>
                      <%= link_to fa_icon("instagram"), "https://instagram.com/codecoreyvr/", id:"social-ig", class:"fa fa-instagram-square fa-3x social" %>
                      <%= link_to fa_icon("fa fa-google-plus-square fa-3x social"), "http://plus.google.com/116007489763415648305/about", id:"social-gp", class:"fa fa-google-plus-square fa-3x social" %>
                      <%= link_to fa_icon("fa fa-github-square fa-3x social"), "http://github.com/orgs/CodeCoreYVR", id:"social-gh", class:"fa fa-github-square fa-3x social" %>
                      <%= link_to fa_icon("fa fa-youtube-square fa-3x social"), "http://www.youtube.com/user/CodeCoreYVR", id:"social-yt", class:"fa fa-youtube-square fa-3x social" %>
                    </ul>
                </div>
                <div class="footer-col col-md-4 col-sm-12">
                    <h3>About CodeCore</h3>
                    <p>LEARN APP DEVELOPMENT WITH RUBY ON RAILS
                    <br><a href="http://codecore.ca">Start Coding</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Eli & Friends 2016
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
