<!DOCTYPE html>
<html>
<head>
  <title>Codecore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag 'codecore-logo.png' %></a>
        <a href="<%= root_path %>" class="navbar-brand">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="myNav">
        <ul class="nav navbar-nav">
          <li><%= link_to "Available Students", users_path(who: "available") %></li>
          <li><%= link_to "All Students", users_path(who: "all") %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "#{current_user.full_name}", nil %></li>
            <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_session_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% elsif alert %>
      <div class="alert alert-danger">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>


  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
